/* For tablet */
@media only screen and (max-width: 1023px){
    /* ---Regis Pages---- */
    .regis-form{
        flex-direction: column-reverse;
    }
    .container{
        max-width: 580px;
        flex-direction: column;
        margin-bottom: 50px;
    }
    .row{
        margin-bottom: 0px;
        flex-direction: column;
    }

    .row .col{
        padding-top: 20px;
    }

    .product-img-input{
        margin-top: 40px;
        margin-bottom: 50px;
        max-width: 432px;
    }
    .search-bar{
        position: relative;
        background-color: transparent;
    }
    .search-bar #search{
        position: absolute;
        top:-5px;
        bottom: 10px;
        left:350px;
        transform: translate(10px, 10px);
    }

    .nav ul li{
        width: 150px;
    }
    /* -------------------------- */
    /* ---------Vendor product page-------------- */
    /* -------------------------- */

    .product-form-img-container{
        max-width: 925px;
        flex-direction: column;
        margin-bottom: 50px;
        margin-top: 40px;
        
    }

    .header-my-products p,
    .header-my-products h1{
        margin-left: 50px;
    }

    .view-my-products{
        flex-direction: column-reverse;
    }
    .row-products{
        margin-left: auto;
        margin-right: auto;
        flex-direction: column;
    }

    .col-product{
        min-width: 266px;
        max-width: fit-content;
    }
    .col-product a,
    .col-product img{
        background-color: rgb(83, 161, 221);
        font-size: larger;
        text-align: center;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: auto;
    }
    .col-product img{
    margin-top: 10px;
    }
}

@media screen and (max-width: 767px) {
  .logo-name a img {
    width: 150px;
    height: auto;
  }
  .nav ul {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
  }

  .nav ul li {
    margin-top: 2px;
    margin-bottom: 5px;
    text-align: center;
    font-size: 90%;
  }

  footer ul {
    margin-right: -20px;
  }

  footer ul li {
    display: block;
    margin-right: -10px;
  }

  .container {
    margin-left: -10px;
  }
  /* .header-addmore .btn {
    width: 200px;
  } */
  .btn a {
    font-size:30%;
  }
  /* -------------------------- */
  /* ---------Customer product page-------------- */
  /* -------------------------- */
  .row-products {
        flex-flow: row wrap;
        width: 300px; 
    }

  .col-product {
    width: 200px;
  }

  .price-range-filter-inputs {
    display: flex;
    flex-direction: column;
  }

  .apply-button {
    margin-left: -30px;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .nav-bar {
    display: flex;
    flex-direction: column;
  }

  .search-bar {
    margin-top: 20px;
    position: relative;
    background-color: transparent;
    width: 50px;
  }

  .search-bar #search-text {
    width: 300px;
  }

  .search-bar #search {
    position: absolute;
    top: -5px;
    bottom: 10px;
    left: 270px;
    transform: translate(10px, 10px);
  }

  .nav ul li {
    margin-top: 0px;
    width: 200px;
  }
  .nav ul {
    margin-top: 10px;
  }

  .my-account .container .information .row {
    margin-left: 100px;
  }

  .my-account .container .information form {
    margin-left: 100px;
  }

  .my-account .btn {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .login-form .container form .col .btn{
    font-size: 100%;
  }
}
