/* For tablet */
@media only screen and (max-width: 1023px){
    /* ---Regis Pages---- */
    .regis-form{
        flex-direction: column-reverse;
    }
    .container{
        max-width: 580px;
        flex-direction: column;
        margin-bottom: 50px;
    }
    .row{
        margin-bottom: 0px;
        flex-direction: column;
    }

    .row .col{
        padding-top: 20px;
    }

    .product-img-input{
        margin-top: 50px;
        margin-bottom: 50px;
        max-width: 432px;
    }
}

@media only screen and (max-width: 767px){
    .logo-name a img{
        width:150px;
        height: auto;
    }
    .nav ul{
        margin-top: 40px;
        display: flex;
        flex-direction: column;
    }

    .nav ul li{
        margin-top: 2px;
        margin-bottom: 5px;
        text-align: center;
        font-size: 90%;
    }

    footer ul {
        margin-right: -20px;
    }

    footer ul li{
        display: block;
        margin-right: -10px;
    }

    .container{
        margin-left: -10px;
    }


    
}